/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
body {
  margin: 0;
  padding: 0;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header Section */
.head-section {
  background-image: url(images/background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.head-section-overlay {
  background: rgba(0, 0, 0, 0.8);
}

.ta-nav {
  padding: 32px 0 0 130px;
}

.ta-nav ul {
  display: flex;
  justify-content: center;
}

.ta-nav ul li {}

.ta-nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 10px 25px 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

.ta-nav ul li a:hover span {
  border-bottom: 2px solid #acacac;
  margin-bottom: 2px;
}

.ta-title-section {
  text-align: left;
  padding: 130px 300px 130px 170px;
}

.ta-title-section h1 {
  color: #fff;
  font-size: 90px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.ta-title-section span {
  display: block;
  text-decoration: underline;
  font-size: 20px;
  color: #fff;
  font-weight: lighter;
  font-style: italic;
}

.ta-title-section p {
  color: #acacac;
}

/* Art Sction */
.art-section {
  text-align: center;
  background: #fff;
  padding: 80px 180px;
}

.ta-title {
  text-align: center;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 10px;
}

.art-section p {
  font-size: 14px;
  color: #656a81;
  padding-bottom: 30px;
}

.art-section img {}

/* Portfolio Section */
.portfolio-item>* {
  padding-left: 0;
  padding-right: 0;
}

.portfolio-section {}

.portfolio-container {
  padding: 40px 100px 20px 80px;
}

.portfolio-container h3 {}

.portfolio-container p {
  font-size: 14px;
}

.portfolio-container a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #23aa9f;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 14px;
}

/* Service Section */
.ta-service-section {
  padding: 100px 230px;
}

.ta-service-section .ta-service-container {}

.ta-service-container {
  display: flex;
  margin: 30px;
}

.ta-service-container:hover .service-box {
  background: #36d1c4;
  border: 2px solid #36d1c4;
}

.ta-service-section h5 {
  margin-bottom: 20px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.ta-service-section .service-box {
  height: 15px;
  width: 30px;
  border: 2px solid #999;
  margin-right: 20px;
}

/* Subcribtion Section */
.ta-sub-section {
  background-image: url(images/subimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 200px;
}

.ta-sub-section-overlay {}

.sub-section-left {}

.sub-section-left span {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.sub-section-left p {
  color: #808288;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

.sub-section-right {}

.input-group {
  width: 80%;
  border: none;
}

.sub-section-right input {
  background: rgba(255, 255, 255, 0.1);
  border: none;
}

.sub-section-right button {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding: 0 20px;
  background: #000;
  color: #70727c;
}

/* Team Profile Section */
.ta-team-section {
  background: #fff;
  padding: 100px 200px 150px;
}

.team-profile ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.team-profile ul li {
  list-style: none;
}

.team-profile ul li a {
  display: block;
}

.team-profile ul li a i {
  color: #000;
  padding: 0 15px 25px 0;
}

.profile-text {
  padding-top: 50px;
}

.profile-text h6 {
  font-size: 16px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.profile-text span {
  border-bottom: 2px solid #36d1c4;
}

.profile-text p {
  margin-bottom: 0;
}

.carousel-indicators [data-bs-target] {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #36d1c4;
}

.carousel-indicators {
  margin-bottom: -3rem;
}

/* Blog Section */
.blog-section {
  padding: 0 200px 150px;
}

.blog-section .blog-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.blog-section p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #70727c;
}

.blog-section a {
  text-decoration: none;
  float: right;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #70727c;
  text-transform: uppercase;
}

.blog-section a:hover {
  color: #000;
  font-weight: bold;
}

/* Contact Section */
.ta-contact-section {
  display: flex;
}

.section-left {
  background-image: url(images/mapimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  padding-bottom: 100px;
}

.section-right {
  background-image: url(images/contactimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 160px 0 100px;
  width: 50%;
  padding-bottom: 100px;
}

.section-right input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  padding: 5px 0;
  border-radius: 0;
}

.section-right textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  padding: 40px 0 5px;
  border-radius: 0;
}

.section-right button {
  border: none;
  background: #95a792;
  padding: 10px 50px;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #e1e1e1;
}

/* Footer Section */
.ta-footer-section {
  background: #000415;
  padding: 30px 270px 10px;
}

.footer-left {
  display: flex;
}

.footer-left p {
  color: #b4b5ba;
  padding-top: 10px;
}

.footer-left .left-right {
  border-right: 1px solid #393939;
  height: 60px;
  margin-left: 160px;
  margin-top: 25px;
}

.ta-footer-section .col-md-6 {
  padding-right: 0;
}

.footer-right {
  padding-left: 80px;
}

.footer-right ul {
  list-style: none;
}

.footer-right ul li {
  display: flex;
}

.footer-right ul li i {
  color: #fff;
  margin: 5px 15px 0 0;
}

.footer-right ul li p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.coperight-section {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-top: 100px;
}